<nav aria-label="...">
    <ul class="pagination justify-content-center">
        <li class="page-item"><a class="page-link" href="?{% if query %}{{ query }}{% endif %}&page=1">&laquo; В начало</a></li>
        {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?{% if query %}{{ query }}{% endif %}&page={{ page_obj.previous_page_number }}">Назад</a>
            </li>
        {% else %}
            <li class="page-item disabled">
                <span class="page-link">Назад</span>
            </li>
        {% endif %}
        {% for page in paginator.page_range %}
            {% if page_obj.number == page %}
                <li class="page-item active" aria-current="page">
                     <span class="page-link">{{ page_obj.number }}</span>
                </li>
            {% else %}
                <li class="page-item">
                    <a class="page-link" href="?{% if query %}{{ query }}{% endif %}&page={{ page }}">{{ page }}</a>
                </li>
            {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="?{% if query %}{{ query }}{% endif %}&page={{ page_obj.next_page_number }}">Далее</a>
            </li>
        {% else %}
            <li class="page-item disabled">
                <span class="page-link">Далее</span>
            </li>
        {% endif %}
        <li class="page-item"><a class="page-link" href="?{% if query %}{{ query }}{% endif %}&page={{ paginator.num_pages }}">В конец &raquo;</a></li>
    </ul>
</nav>