{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Детальный просмотр{% endblock %}
{% block content %}
    <div class="text-center">
        <h1>{{ file.caption }}</h1>
        <div class="row">
            <div class="col col-12 col-sm-10 col-md-8 col-lg-6 m-auto">
                <a href="{{ file.file.url }}" class="btn btn-success btn-sm" download="">Скачать</a>
            </div>
        </div>
          <p class="mt-4"><b>Подпись:</b> {{ file.caption }}</p>
          <p class="mt-2"><b>Дата и время создания:</b> {{ file.created_at }}</p>
        {% if perms.webapp.change_file %}
        <a href="{% url 'webapp:file_update' file.pk %}"
           class="btn btn-primary mt-2">Изменить</a>
        {% endif %}
        {% if perms.webapp.delete_file %}
        <a href="{% url 'webapp:file_delete' file.pk %}"
           class="btn btn-danger mt-2">Удалить</a>
        {% endif %}
    </div>
     {% if file.general_access == 'general' %}
                <h6>Файл в общем доступе</h6>
            {% elif file.general_access == 'hidden'%}
                <h6>Файл скрыт</h6>
            {% else %}
                <button class="btn btn-dark" style="margin-left: 485px; margin-top: 10px" id='collapseAccessButton' data-file-id='{{ file.pk }}' type="button" data-toggle="collapse" data-target="#collapseAccess" aria-expanded="false" aria-controls="collapseExample">
                    Доступ к файлу
                </button>
                <div class="collapse" id="collapseAccess">
                    <div class="card card-body" id="privileged_users">
                        {% if file.private_users %}
                            {% for user in  file.private_users.all %}
                                <div class="btn-group btn-group-sm w-50">
                                    <a class='btn btn-info' href="{% url 'accounts:detail' user.id %}"><i class="far fa-eye"></i> {{ user.username }}</a>
                                    <button id="depriveButton_{{ user.id }}" class="btn btn-danger depriveAccess" data-id="{{ user.id }}"><i class="fas fa-user-slash"></i> Забрать права</button>
                                </div>
                            {% endfor %}
                        {% else  %}
                            <h6 id="accessNone">Пользователь никому не доверяет</h6>
                        {% endif %}
                        <form id="formAddAccessToUser" class="pt-5">
                            {% csrf_token %}
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Введите имя пользователя</span>
                                </div>
                                <input type="text" maxlength="150" aria-label="username" class="form-control" name="user_name" id="id_user_name">
                                <input type="submit" class="btn btn-success" value="Дать доступ" id="provideAccessSubmit">
                            </div>
                        </form>
                    </div>
                </div>
            {% endif %}
        </div>

    </div>
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/main.js' %}"></script>
{% endblock %}