{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Детальный просмотр{% endblock %}
{% block content %}
    <div class="text-center">
        <h1>{{ file.caption }}</h1>
        <div class="row">
            <div class="col col-12 col-sm-10 col-md-8 col-lg-6 m-auto">
                <a href="{{ file.file.url }}" class="btn btn-success btn-sm" download="">Скачать</a>
            </div>
        </div>
          <p class="mt-4"><b>Подпись:</b> {{ file.caption }}</p>
          <p class="mt-2"><b>Дата и время создания:</b> {{ file.created_at }}</p>
        {% if perms.webapp.change_file %}
        <a href="{% url 'webapp:file_update' file.pk %}"
           class="btn btn-primary mt-2">Изменить</a>
        {% endif %}
        {% if perms.webapp.delete_file %}
        <a href="{% url 'webapp:file_delete' file.pk %}"
           class="btn btn-danger mt-2">Удалить</a>
        {% endif %}
    </div>
{% endblock %}